.card {
    border: 1px solid rgb(246, 239, 239);
    border-radius: 40px;
    padding: 30px;
    width: 210px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    margin-right: 40px;
  
    &:hover {
      box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
      transform: translateY(-5px);
    }
  
    .favorite {
      position: absolute;
      cursor: pointer;
    }
  
    span {
      text-transform: uppercase;
      color: #c1c3c5;
      font-size: 12px;
    }
  
    b {
      font-size: 13px;
    }
  }